+contentFor 'headerTitle'
    h1.title The Card and Board Game App

+ionView
    +ionContent
        p You can play card and board games, pitch pitch yadda yadda.

+contentFor 'tabs'
    .tab-item
        button.button.button-energized(data-ion-modal='login') Log in
    .tab-item
        button.button.button-assertive(data-ion-modal='register') Register
