+famousContext id='mainCtx'
    +HeaderFooterLayout headerSize='50' footerSize='20'

        +Surface target='header' translate='[0,0,100]'
            header
                +yield region='header'

        +RenderController target='content'
            +yield
