@require 'nib'

// Ionic config obviously has to come before the imports

@import '../.meteor/local/build/programs/server/assets/packages/koolaid1551_ionic-stylus/_ionic'
@import '../.meteor/local/build/programs/server/assets/packages/koolaid1551_ionicons-stylus/_ionicons'

.platform-web .content
    padding 10px

// no rounded avatars; players can round theirs if they want to
.item-avatar > img:first-child
    border-radius 0

.item-help
    color lighten($dark, 50%)
    border-top none
    padding-top 0
    padding-left 32px

.item:focus
    background-color red
