.contact-detail
    .list.card
        with profile
            .item.item-avatar
                img(src=avatarUrl)
                h2= displayName
            .item.item-body.item-icon-right
                i.icon.ion-information-circled
                p= bio
            .item.item-body.item-icon-right
                i.icon.ion-paper-airplane
                h2 Contact
                p= contact
