+contentFor 'headerTitle'
    h1.title Profile

+contentFor 'headerButtonRight'
    button.button.button-clear(data-ion-modal='profileEdit') Edit

+ionView
    +ionContent
        with currentUser
            +profileCard

+contentFor 'tabs'
    +homeTabs
