.contact-detail
    .list.card
        with profile
            .item.item-avatar
                img(src=avatarUrl)
                h2= displayName
            .item.item-body
                p= bio
