+ionModal customTemplate=true
    .bar.bar-header.bar-stable
        button.button.button-clear(data-dismiss='modal' type='button') Cancel
        h2.title Edit Contact
        button.button.button-positive.button-clear(type='submit') Save
    .content.has-header.overflow-scroll
        p foo
